@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products .banner {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.products .title {
  margin-top: 4rem;
  text-align: center;
  font-weight: 700;
}

footer {
  margin-top: 5rem;
  width: 100%;
}

footer .footer {
  height: 400px;
}

/*PÁGINA WISHLIST*/
/* .flex {
  justify-content: space-between;
  margin: 1%;
} */

.flex-wish {
  font-size: 25px;
  margin-left: 5%;
  margin-top: 3%;
}

.buttom {
  padding: 10px 10px;
  background-color: white;
  border: 2px solid;
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttom:hover {
  background-color: lightblue;
}

.img_flex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 3%;
  margin-top: 2%;
}


.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  position: relative;

}

.card img {
  width: 100%;
  height: 250px;
}

.add-to-cart-btn {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.h3 {
  font-size: 25px;
  margin-left: 5%;

}


/*---------PÁGINA HOME----------*/
@media screen and (min-width: 1024px) {
  header {
    background-color: white !important;
  }

  header h2 {
    color: white;
  }

  header .title-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  header .nav-container {
    display: flex;
    gap: 60px;
    align-items: center;
    width: 390px;
    height: 30px;
  }

  .nav-container {
    margin-right: 300px;
  }

  header .logo-container {
    display: block;
  }

  .header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 150px;
  }

  .svg-container {
    display: flex;
    position: relative;

  }

  .containers {
    padding: 0 135px;
  }

  .flash-sales {
    margin-bottom: 36px;
  }

  .line {
    margin-top: 70px;
  }

  .search-container {
    display: flex;
    width: 300px;
    gap: 20px;
  }

  .container-products-title {
    display: block;
    gap: 40px;
  }

  .swiper {
    width: 90%;
    height: 400px;
  }
}